<!--Here we are using the UserManager For the AccountUser-->
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManger
<!--If The User SingIn then we Have to Use Logout Button-->
@if (_signInManger.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hello @User.Identity.Name
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item btn btn-primary" asp-action="Logout" asp-controller="Account">Logout</a>
            @*<a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>*@
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="btn btn-primary" asp-action="Login" asp-controller="Account">Login</a>
        <a class="btn btn-primary" asp-action="SignUp" asp-controller="Account">Register</a>
    </li>
    
}