@model IdentityFrameworkDemo.Models.EmailConfirmModel 

@{
    ViewData["Title"] = "ConfirmEmail";
}

<h1>ConfirmEmail</h1>

<div class="container">
    <div class="row text-center">
        <div class="col-md-4">
            <div class="alert alert-success">
                @*@if(ViewBag.IsSuccess == true)*@
                @if (Model.EmailVerified==true)
                {
                    <p>Hello Your Email Confirmation is Successful</p>
                }
                else
                {
                    if (Model.IsConfirmed==true)
                    {
                        <p>Hello Your Email is already Veified</p>
                    }
                    else
                    {
                        if (Model.EmailSent==true)
                        {
                            <p>Email is Resent on Your Registered Email Id Click it to Login</p>
                        }
                        else
                        {
                            <p>Email is  Send on your Email Id</p>
                        }
                            <form asp-action="ConfirmEmail">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Email"/>
                                <p>Didn't get any Email or Delete by mistake</p>
                                <div class="form-group">
                                    <input type="submit" value="Resend Confirmation Email" class="btn btn-primary" />
                                </div>
                            </form>
                        
                    }
                }
            </div>
        </div>
    </div>
</div>