
@{
    ViewData["Title"] = "ConfirmEmail";
}

<h1>ConfirmEmail</h1>

<div class="container">
    <div class="row text-center">
        <div class="col-md-4">
            <div class="alert alert-success">
                @if(ViewBag.IsSuccess == true)
                {
                <p>Hello Your Email Confirmation is Successful</p>
                }
                else
                {
                <p>Hello Your Email Confirmation is Successful</p>
                }
            </div>
        </div>
    </div>
</div>